---
layout: layout.liquid
title: Polaroid Cloud
---

<header>Polaroid Cloud</header>

<div class="heading-container">
    <h1>FILM TO PHONE</h1>
</div>

<img src="/images/polGo.png" alt="Description of image">

<h2>Any cloud, anytime.</h2>
<p>
    With Polaroid Cloud, you can sync your photos to your favorite cloud service while still enjoying the instant printing you’ve come to expect from Polaroid. Using our special instant photo paper, your image is uploaded to the web and a QR code is generated and printed with the instant photo. Perfect for sharing with your friends and family.
</p>

<h2>Easy, cheesy!</h2>

<div class="one-line">
    <svg viewBox="0 0 50 40" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M4.23438 15.8516C9.625 10.6797 16.9375 7.5 25 7.5C33.0625 7.5 40.375 10.6797 45.7656 15.8516C46.7656 16.8047 48.3438 16.7734 49.2969 15.7812C50.25 14.7891 50.2187 13.2031 49.2266 12.25C42.9453 6.21094 34.4062 2.5 25 2.5C15.5938 2.5 7.05469 6.21094 0.765626 12.2422C-0.226561 13.2031 -0.257811 14.7812 0.695314 15.7812C1.64844 16.7812 3.23438 16.8125 4.22656 15.8516H4.23438ZM25 20C29.4375 20 33.4844 21.6484 36.5781 24.375C37.6172 25.2891 39.1953 25.1875 40.1094 24.1562C41.0234 23.125 40.9219 21.5391 39.8906 20.625C35.9219 17.125 30.7031 15 25 15C19.2969 15 14.0781 17.125 10.1172 20.625C9.07813 21.5391 8.98438 23.1172 9.89844 24.1562C10.8125 25.1953 12.3906 25.2891 13.4297 24.375C16.5156 21.6484 20.5625 20 25.0078 20H25ZM30 32.5C30 31.1739 29.4732 29.9021 28.5355 28.9645C27.5979 28.0268 26.3261 27.5 25 27.5C23.6739 27.5 22.4022 28.0268 21.4645 28.9645C20.5268 29.9021 20 31.1739 20 32.5C20 33.8261 20.5268 35.0979 21.4645 36.0355C22.4022 36.9732 23.6739 37.5 25 37.5C26.3261 37.5 27.5979 36.9732 28.5355 36.0355C29.4732 35.0979 30 33.8261 30 32.5Z" fill="black"/>
    </svg>
    
    <div class="one-line-text">Connect your Polaroid to a WiFi network</div>
</div>

<div class="one-line">
    <svg viewBox="0 0 50 40" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M11.25 37.5C5.03906 37.5 0 32.4609 0 26.25C0 21.3438 3.14062 17.1719 7.51562 15.6328C7.50781 15.4219 7.5 15.2109 7.5 15C7.5 8.09375 13.0938 2.5 20 2.5C24.6328 2.5 28.6719 5.01562 30.8359 8.76562C32.0234 7.96875 33.4609 7.5 35 7.5C39.1406 7.5 42.5 10.8594 42.5 15C42.5 15.9531 42.3203 16.8594 42 17.7031C46.5625 18.625 50 22.6641 50 27.5C50 33.0234 45.5234 37.5 40 37.5H11.25ZM17.4219 20.5469C16.6875 21.2812 16.6875 22.4688 17.4219 23.1953C18.1562 23.9219 19.3438 23.9297 20.0703 23.1953L23.1172 20.1484V30.625C23.1172 31.6641 23.9531 32.5 24.9922 32.5C26.0312 32.5 26.8672 31.6641 26.8672 30.625V20.1484L29.9141 23.1953C30.6484 23.9297 31.8359 23.9297 32.5625 23.1953C33.2891 22.4609 33.2969 21.2734 32.5625 20.5469L26.3125 14.2969C25.5781 13.5625 24.3906 13.5625 23.6641 14.2969L17.4141 20.5469H17.4219Z" fill="black"/>
    </svg>
    

    <div class="one-line-text">Configure your favorite cloud</div>
</div>

<div class="one-line">
    <svg viewBox="0 0 46 53" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 8.28125C0 5.53809 2.20759 3.3125 4.92857 3.3125H14.7857C17.5067 3.3125 19.7143 5.53809 19.7143 8.28125V18.2188C19.7143 20.9619 17.5067 23.1875 14.7857 23.1875H4.92857C2.20759 23.1875 0 20.9619 0 18.2188V8.28125ZM6.57143 9.9375V16.5625H13.1429V9.9375H6.57143ZM0 34.7812C0 32.0381 2.20759 29.8125 4.92857 29.8125H14.7857C17.5067 29.8125 19.7143 32.0381 19.7143 34.7812V44.7188C19.7143 47.4619 17.5067 49.6875 14.7857 49.6875H4.92857C2.20759 49.6875 0 47.4619 0 44.7188V34.7812ZM6.57143 36.4375V43.0625H13.1429V36.4375H6.57143ZM31.2143 3.3125H41.0714C43.7924 3.3125 46 5.53809 46 8.28125V18.2188C46 20.9619 43.7924 23.1875 41.0714 23.1875H31.2143C28.4933 23.1875 26.2857 20.9619 26.2857 18.2188V8.28125C26.2857 5.53809 28.4933 3.3125 31.2143 3.3125ZM39.4286 9.9375H32.8571V16.5625H39.4286V9.9375ZM26.2857 31.4688C26.2857 30.5578 27.025 29.8125 27.9286 29.8125H34.5C35.4036 29.8125 36.1429 30.5578 36.1429 31.4688C36.1429 32.3797 36.8821 33.125 37.7857 33.125H41.0714C41.975 33.125 42.7143 32.3797 42.7143 31.4688C42.7143 30.5578 43.4536 29.8125 44.3571 29.8125C45.2607 29.8125 46 30.5578 46 31.4688V41.4062C46 42.3172 45.2607 43.0625 44.3571 43.0625H37.7857C36.8821 43.0625 36.1429 42.3172 36.1429 41.4062C36.1429 40.4953 35.4036 39.75 34.5 39.75C33.5964 39.75 32.8571 40.4953 32.8571 41.4062V48.0312C32.8571 48.9422 32.1179 49.6875 31.2143 49.6875H27.9286C27.025 49.6875 26.2857 48.9422 26.2857 48.0312V31.4688ZM37.7857 49.6875C37.35 49.6875 36.9321 49.513 36.624 49.2024C36.3159 48.8918 36.1429 48.4705 36.1429 48.0312C36.1429 47.592 36.3159 47.1707 36.624 46.8601C36.9321 46.5495 37.35 46.375 37.7857 46.375C38.2214 46.375 38.6393 46.5495 38.9474 46.8601C39.2555 47.1707 39.4286 47.592 39.4286 48.0312C39.4286 48.4705 39.2555 48.8918 38.9474 49.2024C38.6393 49.513 38.2214 49.6875 37.7857 49.6875ZM44.3571 49.6875C43.9214 49.6875 43.5036 49.513 43.1955 49.2024C42.8874 48.8918 42.7143 48.4705 42.7143 48.0312C42.7143 47.592 42.8874 47.1707 43.1955 46.8601C43.5036 46.5495 43.9214 46.375 44.3571 46.375C44.7929 46.375 45.2107 46.5495 45.5188 46.8601C45.8269 47.1707 46 47.592 46 48.0312C46 48.4705 45.8269 48.8918 45.5188 49.2024C45.2107 49.513 44.7929 49.6875 44.3571 49.6875Z" fill="black"/>
    </svg>    
    
    <div class="one-line-text">Point, shoot, and print your QR-tagged photo</div>
</div>

<div class="one-line">
    <svg viewBox="0 0 48 38" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_1_18)">
    <path d="M19.2 0H43.2C45.8475 0 48 2.13008 48 4.75V21.375C48 23.9949 45.8475 26.125 43.2 26.125H19.2C16.5525 26.125 14.4 23.9949 14.4 21.375V4.75C14.4 2.13008 16.5525 0 19.2 0ZM35.7 7.91914C35.3625 7.42188 34.8 7.125 34.2 7.125C33.6 7.125 33.0375 7.42188 32.7 7.91914L28.5 14.1535L27.2025 12.543C26.8575 12.1199 26.34 11.875 25.8 11.875C25.26 11.875 24.735 12.1199 24.3975 12.543L19.5975 18.4805C19.1625 19.0148 19.08 19.7496 19.38 20.3656C19.68 20.9816 20.31 21.375 21 21.375H27H30.6H41.4C42.0675 21.375 42.675 21.0113 42.99 20.4324C43.305 19.8535 43.2675 19.1484 42.9 18.6066L35.7 7.91914ZM25.2 7.125C25.2 6.49511 24.9471 5.89102 24.4971 5.44562C24.047 5.00022 23.4365 4.75 22.8 4.75C22.1635 4.75 21.553 5.00022 21.1029 5.44562C20.6529 5.89102 20.4 6.49511 20.4 7.125C20.4 7.75489 20.6529 8.35898 21.1029 8.80438C21.553 9.24978 22.1635 9.5 22.8 9.5C23.4365 9.5 24.047 9.24978 24.4971 8.80438C24.9471 8.35898 25.2 7.75489 25.2 7.125ZM4.8 9.5H12V28.5V30.875C12 32.1887 13.0725 33.25 14.4 33.25H24C25.3275 33.25 26.4 32.1887 26.4 30.875V28.5H38.4V33.25C38.4 35.8699 36.2475 38 33.6 38H4.8C2.1525 38 0 35.8699 0 33.25V14.25C0 11.6301 2.1525 9.5 4.8 9.5ZM5.4 14.25C4.74 14.25 4.2 14.7844 4.2 15.4375V16.625C4.2 17.2781 4.74 17.8125 5.4 17.8125H6.6C7.26 17.8125 7.8 17.2781 7.8 16.625V15.4375C7.8 14.7844 7.26 14.25 6.6 14.25H5.4ZM5.4 21.9688C4.74 21.9688 4.2 22.5031 4.2 23.1562V24.3438C4.2 24.9969 4.74 25.5312 5.4 25.5312H6.6C7.26 25.5312 7.8 24.9969 7.8 24.3438V23.1562C7.8 22.5031 7.26 21.9688 6.6 21.9688H5.4ZM5.4 29.6875C4.74 29.6875 4.2 30.2219 4.2 30.875V32.0625C4.2 32.7156 4.74 33.25 5.4 33.25H6.6C7.26 33.25 7.8 32.7156 7.8 32.0625V30.875C7.8 30.2219 7.26 29.6875 6.6 29.6875H5.4ZM30.6 30.875V32.0625C30.6 32.7156 31.14 33.25 31.8 33.25H33C33.66 33.25 34.2 32.7156 34.2 32.0625V30.875C34.2 30.2219 33.66 29.6875 33 29.6875H31.8C31.14 29.6875 30.6 30.2219 30.6 30.875Z" fill="black"/>
    </g>
    <defs>
    <clipPath id="clip0_1_18">
    <rect width="48" height="38" fill="white"/>
    </clipPath>
    </defs>
    </svg>
    
    
    <div class="one-line-text">Share your physical and digital photos with friends and family</div>
</div>

<h2>Be the first to know.</h2>

<div class="grey-rectangle">
    <div class="white-rectangle"> 
        Enter your email address to recieve updates
    </div>
    <div class="red-rectangle">
        KEEP IN TOUCH
    </div>
</div>
